.game-container {
    margin-left: 70px;
    margin-right: 70px;
    background-color: #596977;
}

.game-container .row {
    margin-left: 0px;
    margin-right: 0px;
}

.game-header {
    background-color: #ABB3BA;
    font-size: 30px;
    padding: .2em;
    color: rgb(41, 40, 40);
    margin: 0;
}

.game-content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

/* Right elements */

.game-right-element {
    background-color: #36414C;
}

.game-right-title {
    background-color: #2b2e30;
    font-weight: bold;
}

/* Player list */

.game-player-list {
    position: relative;
    height: 60%;
    margin-bottom: 1em;
    overflow: auto;
}

.game-player-list-element {
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #36414C;
}

.game-player-list-notification {
    color: red;
}

/* Inventory */

.game-territory-list {
    height: 35%;
    max-height: 330px;
}

.my-custom-scrollbar {
    position: relative;
    height: 80%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

/* Chat */

.game-chat-btn {
    color: white;
}

.game-chat-btn:hover {
    color: grey;
}

.game-chat {
    position: relative;
    height: 60%;
    min-height: 300px;
    margin-bottom: 1em;
    overflow: hidden;
}

.game-chat-title-container {
    background-color: #2b2e30;
}

.game-chat-title {
    display: inline;
}

.game-chat-close-btn {
    float: right;
    color: white;
    margin-top: -5px;
}

.game-chat-close-btn:hover {
    color: grey;
}

/* MAP */

.game-map-element {
    position: absolute;
}

/* Icon color */

.fleet-icon {
    color: #FF9052;
}

.army-icon {
    color: #FFD185;
}

.center-icon {
    color: #77D353;
}

.icon-title {
    color: white;
}

/* Small screens adaptations */

@media only screen and (max-width: 1200px) {
    /* Header */
    .game-header {
        font-size: 20px;
        text-align: center;
    }
    /* Player list */
    .game-player-list {
        margin-top: 1em;
    }
}