.statecraft-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
    color: #FEDE9D;
}

.back-button {
    color: white;
    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}

.back-button:hover {
    color: rgba(255, 255, 255, 0.541);
}