.map {
    background-image: url('/images/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-territory-name {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: all 100ms;
}

.map-territory {
    position: absolute;
    width: 200px;
}

.map-territory-name:hover {
    color: red;
    font-size: 23px;
    cursor: pointer;
}

.map-supply-center {
    position: absolute;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Rotate text functions */

.rotate-90 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotate90 {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate45 {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate-45 {
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Resize the territories font size on smaller screens */

@media only screen and (max-width: 1600px) {
    .map-supply-center {
        font-size: 12px;
    }
    .map-territory-name {
        font-size: 12px;
    }
}

@media only screen and (max-width: 900px) {
    .map-supply-center {
        font-size: 12px;
    }
    .map-territory-name {
        font-size: 12px;
    }
}