.map {
    position: absolute;
    background-image: url('/images/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.map-territory-name {
    color: black;
}

.map-territory-name:hover {
    color: red;
    cursor: pointer;
}